[submodule "nvim/nvim.config/bundle/Vundle.vim"]
	path = nvim/nvim.config/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "niknisi_dotfile_repo"]
	path = niknisi_dotfile_repo
	url = git@github.com:nicknisi/dotfiles.git
